<div id="landing-main" class="m-0">
    <!-- NAVBAR -->
    <nav class="navbar navbar-inverse d-flex w-100 justify-content-between" class="px-3 py-3 px-md-5 pt-md-4">
        <a href="/" id="navbar-title" class="navbar-brand m-0 p-md-0 pl-1 text-white header-text f-mont animated bounceInLeft">MEYVEST SOFT</a>
        <span class="d-none d-lg-inline float-right text-right m-0 text-white header-text animated fadeInRight delay-5s"><span id="battery" class="fas fa-battery-quarter animated flash text-white align-baseline"></span> coming soon</span>
    </nav>

    <!-- CONTENT -->
    <div id="cnt-main" class="d-flex w-100">
        <div id="info-container">
            <div id="red-container" class="d-flex flex-column f-nuni text-white text-size1 py-3 pl-4 pl-md-5 pr-3">
                <p class="f-sair header-text animated bounceInLeft delay-1s">We are Meyvest Soft!</p>
                <p class="pb-lg-4 animated bounceInLeft delay-2s">We build fully custom web applications from top to bottom; <strong>full-stack development</strong> is the industry term.</p>
                <p class="pb-lg-4 animated bounceInLeft delay-3s">We are comprised of <strong>highly motivated</strong> solution architects, developers, and ui/ux designers.</p>
                <p class="pb-lg-4 animated bounceInLeft delay-4s">We will strive to build you <strong>what you need at a cost you can afford.</strong></p>
                <p class="d-none animated bounceInLeft delay-5s" style="margin-top: auto;"><strong><u>College Student?</u></strong></p>
            </div>
        </div>
        <div id="special-container" class="d-flex flex-column px-md-4 px-lg-5">
            <div id="signup-container" class="py-3">
                <p class="px-3 text-center f-sair text-white header-text animated bounceInDown delay-1s">We are getting ready to launch soon!<br>
                    Contact us about our services:</p>
                <div id="collect-email" class="d-flex flex-column px-5 pt-md-4">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="boder d-flex flex-column text-content" id="email-form">
                        <input type="text" class="form-control border border-danger rounded-pill bg-transparent text-white text-size1 mb-4 pl-md-4 animated bounceInRight delay-2s" formControlName="name" placeholder="Name">
                        <input type="text" class="form-control border border-danger rounded-pill bg-transparent text-white text-size1 mb-4 pl-md-4 animated bounceInRight delay-3s" formControlName="email" placeholder="Email">
                        <div class="checkbox">
                            <label class="text-white text-size3 pl-3 pl-md-5 pt-md-3 animated bounceInRight delay-4s">
                                <input type="checkbox" value="" id="inp-quote" (click)="toggleQuote()">
                                <span class="cr border border-danger justify-content-center" style="vertical-align: text-top;"><i class="cr-icon material-icons text-white">check</i></span> Check if you want a project quote
                            </label>
                        </div>
                        <div class="d-flex flex-row justify-content-center w-100 pt-3 pt-md-4 animated bounceInRight delay-4s">
                            <button type="button" class="btn btn-dark border border-danger rounded-pill text-size3 px-5 py-2 py-md-0" style="line-height: 4vw;" (click)="onSubmit()" [disabled]="!form.valid">Send</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- FOOTER -->
            <div class="d-flex flex-row animated bounceInUp delay-1s" style="margin-top: auto;">
                <div class="d-flex flex-column f-nuni pt-3" id="privacy-policy-desktop">
                    <div class="d-flex w-100 justify-content-center">
                        <a href="/privacy-policy" class="text-white" style="text-decoration: underline !important;">Privacy Policy</a>
                    </div>
                    <p class="text-white text-center">© 2019 Meyvest Soft. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Success Modal for Email -->
<div class="modal" tabindex="-1" role="dialog" id="success-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thank you!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" role="alert">We will get back to you as soon as possible!</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
