/* DESKTOP CSS */
@media only screen and (min-device-width : 768px) {
    #landing-main {
        height: 100vh !important;
        max-height: 100vh !important;
    }

    .header-text {
        font-size: 5.25vmin !important;
    }

    .text-size1 {
        font-size: 3vmin !important;
    }

    .text-size2 {
        font-size: 2.4vmin !important;
    }

    .text-size3 {
        font-size: 2.1vmin !important;
    }

    /* NAVBAR */
    nav {
        height: 12% !important;
        min-height: 12% !important;
    }

    /* CONTENT */
    #cnt-main {
        height: 88% !important;
        flex-direction: row !important;
    }

    #info-container {
        width: 45% !important;
        height: 100% !important;
        border-radius: 0 66px 0px 0 !important;
    }

    #red-container {
        width: 90% !important;
        height: 100% !important;
    }

    #special-container {
        width: 55% !important;
    }

    #battery {
        animation-duration: 3s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
    }
}

#landing-main {
    min-width: 320px !important;
    overflow: hidden;
}

/* NAVBAR */
.header-text {
    font-size: 10vw;
}

/* CONTENT */
#cnt-main {
    flex-direction: column;
}

.text-size1 {
    font-size: 6.4vw;
}

.text-size2 {
    font-size: 6vw;
}

.text-size3 {
    font-size: 4vw;
}


/* info */
#info-container {
    width: 95%;
    background-color: #EC5363;
    border-radius: 0 66px 66px 0;
}

#red-container {
    width: 95%;
}

/* sign up */

::placeholder {
    color: #FFF;
}

#hello {
    font-size: 90px;
    top: 0;
}

#hello-mobile {
    font-size: 45px;
    top: 0;
}

.h-85 {
    height: 82% !important;
}

::selection {
    background: #FFF;
    /* WebKit/Blink Browsers */
    color: red;
}

::-moz-selection {
    background: #FFF;
    /* Gecko Browsers */
    color: red;
}

#collect-email,
#privacy-policy-desktop {
    margin: 0 auto;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon,
.radio label input[type="radio"]+.cr>.cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon,
.radio label input[type="radio"]:checked+.cr>.cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr,
.radio label input[type="radio"]:disabled+.cr {
    opacity: .5;
}

.text-header-1 {
    font-family: 'Saira Extra Condensed', sans-serif;
}

.text-content {
    font-family: 'Nunito', sans-serif;
}

.border-3 {
    border-width: 3px !important;
}
