@font-face {
	font-family: PIXOCHROME;
	src: url(assets/fonts/PIXOCHROME.TTF) format("truetype");
}

@font-face {
	font-family: century-gothic, monospace;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: agency-fb, sans-serif;
	font-weight: 400;
	font-style: normal;
}