body {
    background-color: #343A40 !important;
}

@media only screen and (min-device-width: 768px) {

    html,
    body {
        height: 100% !important;
    }
}

.vh-100 {
    height: 100vh;
}

.cursor-pointer {
    cursor: pointer;
}

.f-mont {
    font-family: 'Montserrat Subrayada';
}

.f-nuni {
    font-family: 'Nunito';
}

.f-sair {
    font-family: 'Saira Extra Condensed';
}
